@charset "utf-8";
@font-face {
            font-family: 'NanumSquareR';
            src: url('../fonts/NanumSquareR.ttf'),
                url('../fonts/NanumSquareR.eot');
}
@font-face {
            font-family: 'NanumSquareB';
            src: url('../fonts/NanumSquareB.ttf'),
                url('../fonts/NanumSquareB.eot');
}
@font-face {
            font-family: 'NanumSquareEB';
            src: url('../fonts/NanumSquareEB.ttf'),
                url('../fonts/NanumSquareB.eot');
}
@font-face {
            font-family: 'Montserrat-ExtraBold';
            src:url('../fonts/Montserrat-ExtraBold.otf');
}

html,body{ margin:0; padding:0; width:100%; height:100%; font-family:'NanumSquareR'; }
#wrap {width: 100%; position: relative;}
.section{ width:100%; height:100%; position:relative; color:#ffffff;}
.content {position: relative; top: 120px; width: 100%; height: 90%;}

/*header*/
header{position: fixed; width: 100%; height: 120px; z-index: 5; background: white; border-bottom:1px solid #eee;}
nav {width: 100%; position: relative; margin: 0 auto;}

/*header logo*/
.nav_logo {position: absolute; left: 1%;}
.nav_logo h1 {margin-top: 30px; color: white;}
.nav_logo h1 img {width: 70%;}

/*header gnb*/
.nav_gnb {position: absolute; right: 1%;}
.nav_gnb ul {position: relative;}
.nav_gnb ul:after {display: block; clear: both; content:"";}
.nav_gnb ul li {float:left;}
.nav_gnb ul li a {display: inline-block; margin-right: 50px; line-height: 120px; color: black; font-size: 16px;}

/*header mobile gnb*/
.m_gnb{position: absolute; left: 100%; width: 100%; height: 100vh; background:darkorange; z-index: 500;}
.toggle {text-align: right; font-size: 30px; height: 120px; line-height: 120px; position: absolute; right: 5%; z-index: 9840; display: none;}
.toggle span {
  display: block;
  background: #000;
  width: 42px;
  height: 4px;
  border-radius: 3px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.toggle span:nth-child(1) {
    margin-top: 50px;
    margin-bottom: 8px;
}
.toggle span:nth-child(3) {
    margin-top: 8px;
}
.cng {height: 120px; line-height: 120px; position: absolute; right: 5%; z-index: 9840;display:none;}
.cng span {
  display: block;
  background: #000;
  width: 42px;
  height: 4px;
  border-radius: 3px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.cng span {
    transition: 0.25s margin, 0.25s transform 0.25s;
}
.cng span:nth-child(1) {
  margin-top: 60px;
  margin-bottom: -4px;
    transform: rotate(45deg);
}
.cng span:nth-child(2) {
    transform: rotate(45deg);
}
.cng span:nth-child(3) {
  margin-top: -4px;
    transform: rotate(135deg);
}

.m_g_m {position: absolute; top: 200px; width: 100%;}
.m_g_m li { width: 100%; line-height: 100px; }
.m_g_m li a {display: block; text-align: center; font-size: 26px; color: white; font-weight: bold;}


/*container*/
.container {position: relative; width: 100%; top: 120px;}

/*key_image*/
.key_image {position: relative; width: 100%; height: 500px; background: url(../images/talent/talent_keyimage.png) no-repeat; background-attachment: fixed; background-size: cover; background-position: bottom; }
.key_image h2 {text-align: center; color: #fff; font-size: 36px; line-height: 150px; padding-top: 100px;}
.key_image p {text-align: center; color: #fff; font-size: 30px;}

/*info*/
.info {width: 100%; position: relative; margin: 0 auto;}


/*breadcrumb*/
.breadcrumb {width: 80%; position: relative; margin: 0 auto; padding-top: 50px;}
.breadcrumb span {font-size: 18px;}

/*con_t*/
.con_t {position: relative; width: 60%; margin: 0 auto; margin-top: 100px;}
.con_t h3 {font-size: 36px; text-align: center;}
.con_t h3:after {content:""; display: block; width: 50px; height: 5px; background: #f15522; margin: 0 auto; margin-top: 20px;}
.con_t ul {position: relative; width: 80%; margin: 0 auto; padding-top: 50px;}
.con_t ul:after {display: block; clear: both; content:"";}
.con_t ul li {float:left; width: 33%; padding: 2%; text-align: center; margin-top: 20px;}
.ttxt {font-size: 24px; font-weight: bold; margin-top: 30px;}
.stxt {font-size: 18px; padding-top: 20px; line-height: 25px; display: inline-block; width: 80%; text-align: center; margin: 0 auto;}
.con_t ul li i {font-size: 36px;}
.leader {}
.pro { text-align: center;}
.coop  {text-align: center;}

/*con_c*/
.con_c {position: relative; width: 90%; margin: 0 auto; margin-top: 150px;}
.con_c h3 {font-size: 36px; text-align: center;}
.con_c h3:after {content:""; display: block; width: 50px; height: 5px; background: #f15522; margin: 0 auto; margin-top: 20px;}
.con_c_info {position: relative; width: 100%; margin: 0 auto; margin-top: 80px;}
.con_c_info h4 {font-size: 26px;margin-top: 50px;}
.con_c_info h4:after {content:""; display: block; width: 50px; height: 4px; background: #f15522; margin-top: 20px;}
.list {position: relative; margin-top: 20px;}
.list:after {display: block; clear: both; content:"";}
.list li{float:left; width: 25%; padding: 40px 1%; border: 1px solid #ddd; text-align: center; font-weight: bold; font-size: 20px; position: relative; cursor: pointer; transition: .5s;}
.list li span {position: absolute; top: 35%; right: 10%; font-size: 30px; display: block; width: 30px; height: 30px; line-height: 30px; background: #f15522; color: white; border-radius: 100%;transition:.3s; transform: rotate(0deg);}
.list li:hover {border: 1px solid #f15522; color: #f15522; }
.list li:hover span{transform: rotate(45deg); background-color: brown;}
.list li.on span{transform: rotate(45deg); background-color: brown;}

/*click*/
.click {position: fixed; top: 40%; left: 50%; transform: translate(-50%); height: auto; background: #eee; width: 60%; box-shadow: 5px 5px 5px #000; z-index: 9;}
.mtxt {float:left; width: 30%; font-size: 30px; padding-left: 30px; margin-top: 50px;}
.mtxt:before {content:""; display: block; height: 5px; width: 50px; background: #f15522;}
.mtxt p {margin-top: 20px;}
.smtxt {float:right; width: 70%; font-size: 18px; line-height: 35px; margin-bottom: 50px;}
.smtxt p {margin-top: 50px; padding-right: 30px;}
.click_container {display: none;}
.click_container.on {display: block;}
.bg_box{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.7); top: 0; left: 0; z-index: 6;}
.bg_box h3{position: absolute; width: 100%; text-align: center; font-size: 100px; top: 250px; color: rgba(255,255,255,0.9);}
.bg_box i{cursor: pointer;}

/*con_b*/
.con_b {position: relative; width: 50%; margin: 0 auto; margin-top: 150px;}
.con_b h3 {font-size: 36px; text-align: center;}
.con_b h3:after {content:""; display: block; width: 50px; height: 5px; background: #f15522; margin: 0 auto; margin-top: 20px;}
.tg {margin-top: 100px; margin-bottom: 100px;}
.tg ul {border-top: 2px solid black;}
.tg ul li {width: 100%; border-bottom: 1px solid #ddd; position: relative; height: auto; cursor: pointer;}
.tg ul li .team {font-size: 30px; line-height: 80px;}
.tg ul li .part {font-size: 20px; line-height: 40px;}
.tg ul li i {position: absolute; right: 2%; top: 0; font-size: 30px; line-height: 120px; transition: 0.3s; transform: rotate(45deg);}
.tg ul li i.active{transform: rotate(90deg); display: block;}
.tg ul li .add {display: none; position: relative; background: #fff; width: 100%;z-index: 9; margin-top: 20px;line-height: 28px; font-size: 20px; margin-bottom: 20px;}
.tg ul li .add p{font-weight: bold; text-indent: 20px;}
.tg ul li .add span{text-indent: 20px; display: block;}
.tg ul li .add.active{display: block;}


/*footer*/
.footer {height: 160px; background:black; width: 100%; position: relative; bottom: 0; color: white;}
.footer:after {display: block; clear: both; content:"";}
.footer_logo {float:left; margin-top: 50px; width: 20%; padding-left: 5%;}
.footer_container {width: 80%; float:left; margin-top: 50px;}
.footer_list { padding-left: 5%;font-size: 18px; font-weight: bold;}
.footer_info {padding-left: 5%; font-size: 16px; line-height: 40px;}
.footer_info ul {}
.footer_info ul:after {content:""; display: block; clear: both;}
.footer_info ul li {float:left; font-size: 16px; line-height: 40px; margin-right: 15px;}

.copyright {padding-left: 5%;}





@media screen and (min-width:1024px) and (max-width:1440px) {
    .key_image h2 {font-size: 32px;}
    .key_image p {font-size: 26px;}
    
    .breadcrumb span {font-size: 17px;}
    .breadcrumb i {font-size: 17px;}
    
    .con_t h3 {font-size: 32px;}
    .con_t ul {width: 90%;}
    .con_t ul li i {font-size: 32px;}
    .ttxt {font-size: 22px;}
    .stxt {font-size: 16px; width: 100%;}
    
    .con_c h3 {font-size: 32px;}
    .con_c_info h4 {font-size: 24px;}
    .list li {padding: 35px 1%; font-size: 18px;}
    .list li span {width: 25px; height: 25px; line-height: 25px; right: 4%;}
    
    .con_b {width: 60%;}
    .con_b h3 {font-size: 32px;}
    .tg ul li .team {font-size: 28px;}
    .tg ul li .part {font-size: 18px;}
    .tg ul li i {font-size: 20px;}
    
    .click {width: 70%;}
    .mtxt {font-size: 28px;}
    .bg_box h3{font-size: 80px;}
    
    .tg ul li .add  {font-size: 18px; line-height: 30px;}
    
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .nav_logo h1 img {width: 60%;}
    .nav_gnb ul li a { margin-right: 40px; font-size: 15px;}
    
    .key_image {height: 400px;}
    .key_image h2 {font-size: 30px;}
    .key_image p {font-size: 24px;}
    
    .con_t {width: 70%;}
    .con_t h3 {font-size: 30px;}
    .con_t ul {width: 100%;}
    .con_t ul li i {font-size: 30px;}
    .ttxt {font-size: 20px;}
    .stxt {font-size: 15px; width: 100%;}
    
    .con_c {margin-top: 100px;}
    .con_c h3 {font-size: 30px;}
    .con_c_info h4 {font-size: 22px;}
    .con_c_info h4:after {width: 40px; margin-top: 15px;}
    .list li {padding: 30px 1%; font-size: 16px;}
    .list li span {width: 20px; height: 20px; line-height: 20px; right: 1%; top: 2%;}
    
    .con_b {width: 70%; margin-top: 100px;}
    .con_b h3 {font-size: 30px;}
    .tg ul li .team {font-size: 26px;}
    .tg ul li .part {font-size: 16px;}
    .tg ul li i {font-size: 20px;}
    
    .click {width: 80%; top: 33%;}
    .mtxt {font-size: 26px;}
    .bg_box h3{font-size: 60px; top: 200px;}
    .tg ul li .add  {font-size: 15px; line-height: 30px;}
    
    .footer_list {font-size: 15px;}
    .footer_info ul li {font-size: 13px;}
    .copyright {font-size: 13px;}
    
}

@media screen and (min-width:400px) and (max-width:767px) {
    .nav_logo h1 img {width: 60%;}
    .nav_gnb {display: none;}
    .toggle {display: block;}
    
    .key_image {height: 400px;}
    .key_image h2 {font-size: 28px; padding-top: 80px;}
    .key_image p {font-size: 22px;}
    
    
    .con_t {width: 80%;}
    .con_t h3 {font-size: 28px;}
    .con_t ul {width: 100%;}
    .con_t ul li {width: 100%;}
    .con_t ul li i {font-size: 30px;}
    .ttxt {font-size: 18px;}
    .stxt {font-size: 14px; width: 100%;}
    
    .con_c {margin-top: 70px;}
    .con_c h3 {font-size: 28px;}
    .con_c_info h4 {font-size: 20px;}
    .con_c_info h4:after {width: 40px; margin-top: 15px;}
    .list li {padding: 30px 1%; font-size: 14px; width: 50%;}
    .list li span {width: 20px; height: 20px; line-height: 20px; right: 2%; font-size: 20px;}
    
    .con_b {width: 80%; margin-top: 70px;}
    .con_b h3 {font-size: 28px;}
    .tg {margin-top: 70px;}
    .tg ul li .team {font-size: 24px; line-height: 40px;}
    .tg ul li .part {font-size: 14px;}
    .tg ul li i {font-size: 20px; line-height: 80px;}
    
    .click {width: 90%; top: 33%;}
    .mtxt {font-size: 20px;}
    .mtxt:before {width: 30px;}
    .smtxt {font-size: 14px; line-height: 30px; padding-left: 20px;}
    .bg_box h3{font-size: 80px; top: 200px;}
    .tg ul li .add  {font-size: 14px; line-height: 25px;}
    .tg ul li .add p {text-indent: 10px;}
    .tg ul li .add span {text-indent: 10px;}
    
    .footer {position: relative; height: 316px;}
    .footer_container {width: 100%;}
    .footer_logo {float:none; width: 100%; text-align: center;}
    .footer_logo img {padding-top: 10px;}
    .footer_list {padding-left: 0%; text-align: center; font-size: 15px; line-height: 30px;}
    .footer_info ul li {font-size: 13px; width: 100%; text-align: center; line-height: 25px;}
    .copyright {padding-left: 0%; text-align: center; font-size: 13px;}
}
















